@import "../variables";

@mixin border-radius($radius: $border-radius, $important: false) {
  border-radius: $radius#{if($important, " !important", "")};
}

// Single side border-radius

@mixin border-top-radius($radius: $border-radius, $important: false) {
  border-top-right-radius: $radius#{if($important, " !important", "")};
  border-top-left-radius: $radius#{if($important, " !important", "")};
}

@mixin border-right-radius($radius: $border-radius, $important: false) {
  border-bottom-right-radius: $radius#{if($important, " !important", "")};
  border-top-right-radius: $radius#{if($important, " !important", "")};
}

@mixin border-bottom-radius($radius: $border-radius, $important: false) {
  border-bottom-right-radius: $radius#{if($important, " !important", "")};
  border-bottom-left-radius: $radius#{if($important, " !important", "")};
}

@mixin border-left-radius($radius: $border-radius, $important: false) {
  border-bottom-left-radius: $radius#{if($important, " !important", "")};
  border-top-left-radius: $radius#{if($important, " !important", "")};
}
