@import "border-radius";
@import "hover";

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  @include border-radius($border-radius);
}

@mixin button-outline-variant($color, $background, $background-active, $border) {
  color: $color;
  background-image: none;
  background-color: $background;
  border-color: $border;

  @include hover {
    color: $color;
    background-color: rgba($background-active, .25);
    border-color: $border;
  }

  &:focus,
  &.focus {
    color: darken($color, 5%);
    border-color: darken($border, 5%);
    background-color: darken($background-active, 5%);
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: invert($color);
    border-color: darken($border, 5%);
    background-color: $background-active;

    &:hover,
    &:focus,
    &.focus {
      color: invert($color);
      border-color: darken($border, 10%);
      background-color: $background-active;
    }
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      border-color: darken($border, 5%);
    }
    @include hover {
      border-color: darken($border, 5%);
    }
  }
}

@mixin button-outline-icon-variant($color) {
  .icon {
    color: $color;
  }

  @include hover {
    .icon {
      color: darken($color, 5%);
    }
  }

  &:focus,
  &.focus {
    .icon {
      color: darken($color, 5%);
    }
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    .icon {
      color: darken($color, 5%);

      &:hover,
      &:focus,
      &.focus {
        color: darken($color, 10%);
      }
    }
  }
}
