@import '../../shared/variables';

.dotted {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .dot {
    margin: 0 1.5px;
    animation: dot-pulse 1s infinite ease-in-out;
    border-radius: 50%;
    background-color: $white;
    opacity: 0;
    &:nth-child(2) {
      animation-delay: .16s;
    }
    &:nth-child(3) {
      animation-delay: .32s;
    }
  }

  // Color
  &.dotted-color-white .dot {
    background-color: $white;
  }
  &.dotted-color-gray-lighter .dot {
    background-color: $gray-lighter;
  }
  &.dotted-color-yellow .dot {
    background-color: $yellow;
  }

  // Size
  &.dotted-size-sm {
    height: 8px;
    .dot {
      width: 8px;
      height: 8px;
    }
  }
  &.dotted-size-default {
    height: 10px;
    .dot {
      width: 10px;
      height: 10px;
    }
  }
  &.dotted-size-md {
    height: 12px;
    .dot {
      width: 12px;
      height: 12px;
    }
  }
  &.dotted-size-lg {
    height: 14px;
    .dot {
      width: 14px;
      height: 14px;
    }
  }
}

@keyframes dot-pulse {
  0%,
  80%,
  to {
    transform: scale(.7);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

.circular {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: transparent;
    animation: circular .6s linear infinite;
  }

  // Color
  &.circular-color-white::before {
    border-top-color: $white;
    border-right-color: $white;
  }
  &.circular-color-gray-lighter::before {
    border-top-color: $gray-lighter;
    border-right-color: $gray-lighter;
  }
  &.circular-color-yellow::before {
    border-top-color: $yellow;
    border-right-color: $yellow;
  }

  // Size
  &.circular-size-sm,
  &.circular-size-default,
  &.circular-size-md,
  &.circular-size-lg {
    width: 18px;
    height: 18px;
    &::before {
      width: 18px;
      height: 18px;
      margin-top: -9px;
      margin-left: -9px;
    }
  }
}

@keyframes circular {
  to {
    transform: rotate(360deg);
  }
}
