@import "../../shared/sass/variables";

.header {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: $header-height;
  top: 0;
  left: 0;
  padding: 0 $grid-gutter-width;
  background-color: $header-bg-color;
  color: $header-color;

  .brand {
    display: flex;
    color: $header-color;
    font-size: 18px;
    text-decoration: none;
    align-items: center;

    img {
      display: inline-block;
      margin-right: 6px;
    }

    h1 {
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      font-weight: 200;
      font-size: 18px;
      margin: 0;
    }
  }

  iframe {
    display: block;
  }
}

.header-col:nth-child(1) {
  display: flex;
  width: 50%;
  flex-shrink: 1;
}

.header-col:nth-child(2) {
  flex-shrink: 0;
}

.header-col:nth-child(3) {
  display: flex;
  width: 50%;
  flex-shrink: 1;
  flex-direction: row-reverse;
  align-items: center;

  iframe {
    display: block;
    margin-left: 12px;
  }
}

.user-list-indicator {
  display: flex;
  align-items: center;
  font-family: $font-family-base;
  font-weight: 400;
  font-size: .8125rem;
}

