$blue: #1ba0e1;
$yellow: #F0C674;
$white: #ffffff;
$gray-lighter: #eceded;

$header-height: 46px;
$header-bg-color: #1D1F21;
$header-color: $gray-lighter;

// Grid
// ------------------------------------------------------------------------------------------
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:      12 !default;
$grid-gutter-width: 15px !default;

// Icon
// ------------------------------------------------------------------------------------------

$icon-width:  24px !default;
$icon-height: 24px !default;
