$blue: #1ba0e1;
$white: #ffffff;

$header-height: 46px;
$header-bg-color: #1D1F21;
$header-color: $white;

// Grid
// ------------------------------------------------------------------------------------------
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:      12 !default;
$grid-gutter-width: 15px !default;
