@import "../../shared/variables";

.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $header-height;
  top: 0;
  left: 0;
  padding: 0 $grid-gutter-width;
  background-color: $header-bg-color;
  color: $header-color;

  .brand {
    display: flex;
    color: $header-color;
    font-size: 18px;
    text-decoration: none;
    align-items: center;

    img {
      display: inline-block;
      margin-right: 6px;
    }

    h1 {
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 200;
      margin: 0;
    }
  }
}

.user-list-indicator {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: .8125rem;
}

