@import '../../shared/variables';

.resizeable {
  display: flex;
  overflow: hidden;

  &.resizeable-type-row {
    flex-flow: row wrap;
  }
  &.resizeable-type-column {
    flex-flow: column wrap;
  }
}

.cell {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  background-color: $white;

  &.cell-type-row {
    max-width: 100%;
    min-height: 1px;
  }
  &.cell-type-column {
    max-height: 100%;
    min-width: 1px;
  }
  &.cell-hide {
    display: none;
  }
}

.splitter {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: lighten($header-bg-color, 5%);
  }
}

.splitter-horizontal {
  background: url('../../shared/assets/hsizegrip.png') center center no-repeat $header-bg-color;
  cursor: row-resize;
  z-index: 10;

  &:after {
    left: 0;
    height: 1px;
    width: 100%;
  }
}

.splitter-vertical {
  background: url('../../shared/assets/vsizegrip.png') center center no-repeat $header-bg-color;
  cursor: col-resize;
  z-index: 10;

  &:after {
    right: 0;
    width: 1px;
    height: 100%;
  }
}

.splitter-dragging {
  background-color: lighten($header-bg-color, 20%);
}

.splitter-hide {
  display: none;
}
