@import '../../shared/variables';

.resizeable {
  display: flex;
  overflow: hidden;

  &.resizeable-type-row {
    flex-flow: row wrap;
  }
  &.resizeable-type-column {
    flex-flow: column wrap;
  }
}

.cell {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  background-color: $white;

  &.cell-type-row {
    max-width: 100%;
    min-height: 1px;
  }
  &.cell-type-column {
    max-height: 100%;
    min-width: 1px;
  }
  &.cell-hide {
    display: none;
  }
}

.splitter-horizontal {
  background: url('../../shared/assets/hsizegrip.png') center center no-repeat $header-bg-color;
  cursor: row-resize;
  z-index: 10;
}

.splitter-vertical {
  background: url('../../shared/assets/vsizegrip.png') center center no-repeat $header-bg-color;
  cursor: col-resize;
  border-right: 1px solid lighten($header-bg-color, 5%);
  z-index: 10;
}

.splitter-dragging {
  background-color: lighten($header-bg-color, 20%);
}

.splitter-hide {
  display: none;
}
