@import "../../shared/sass/variables";

body {
  background-color: $header-bg-color;
  padding-top: $header-height;
}

html,
body,
#__root {
  height: 100%;
}

.powered-by-firepad {
  display: none;
}
