@import "../../shared/variables";

.link {
  display: inline-block;
  margin-bottom: 20px;
}

.row {
  height: 100%;
}

.cell {
  height: 100%;
}

.editor-container {
  width: 100%;
  height: 100%;
  font-family: 'Monaco', 'Menlo', 'Consolas', "Vera Mono", monospace;
  font-size: 13px;
  background-color: $header-bg-color;
}

.ratio {
  display: block;
  width: 100%;
  height: auto;
}

.iframe-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

#iframe {
  display: block;
  width: 100%;
  height: 100%;
}
