@import "../../shared/sass/variables";

$stroke-width: 2;

.container {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: -1;
    background: url("./bg.jpg") center center;
    background-size: cover;
  }
}

.container-inner {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: $footer-height;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  img {
    display: inline-block;
    width: 72px;
    height: auto;
    margin-right: 14px;
  }

  h1 {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 4rem;
    color: $gray-lighter;
    margin: 0;
  }
}

.caption {
  color: darken($gray-lighter, 10%);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 32px;
}

.link {
  color: $red;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 1px solid $red;
  padding: 8px 0;
  transition: padding-left 150ms $ease-in-out-cubic, padding-right 150ms $ease-in-out-cubic;

  &:hover {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.svg-wrapper {
  position: relative;
  display: block;
  height: 50px;
  margin: 0 auto;
  width: 220px;

  &:hover {
    text-decoration: none;

    .shape {
      animation: draw 200ms linear forwards;
    }
  }
}

.shape {
  fill: transparent;
  stroke-dasharray: 130 330;
  stroke-dashoffset: -244;
  stroke-width: $stroke-width;
  stroke: $red;
}

.text {
  position: absolute;
  display: flex;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  color: $red;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 130 330;
    stroke-dashoffset: -244;
    stroke-width: $stroke-width;
  }

  100% {
    stroke-dasharray: 460;
    stroke-dashoffset: 0;
    stroke-width: $stroke-width;
  }
}
