@import "../../shared/sass/variables";
@import "../../shared/sass/global";

.headline {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.caption {
  font-size: .875rem;
  margin: 0 auto;
  width: 320px;
}

@media only screen and (max-width: 280px) {
  .caption {
    width: 95%;
  }

  .headline {
    font-size: 1.5em;
    margin: 0 0 .3em;
  }
}
